body{
	margin: 0;
	padding: 0;
	color: #EEEEEE;
	background-color: #FFFFFF;
	line-height: 32px;
	/* 中文字体包太大了 使用默认字体 */
	font-family: "MingLiU";
}
li{
	line-height: 24px;
	margin: 0px 0px 12px;
}

#left-part{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 380px;
	background-color: #555555;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
.main-element{
	position: absolute;
	left: 20px;
	top: 30px;
	width: 340px;
}
#main-element-title{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 186px;
	font-size: 16px;
	font-weight: 600;
}
.anime{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 32px;
	width: 94px;
	background-color: #EEEEEE;
	color: #222222;
	font-size: 14px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
	transition: 0.1s;
	user-select: none;
}
.anime:hover{
	color: #FFFFFF !important;
	background-color: #5980F3 !important;
	/* js修改其style后会导致hover失效,原因是hover优先级低,添加!important将优先级设为最高. */
}
#main-element-change{
	position: absolute;
	left: 30px;
	top: 0px;
	height: 32px;
	width: 186px;
	font-size: 16px;
	outline-color: #5980F3;
	box-sizing: border-box;
	display: none;
}
#main-property-area{
	position: absolute;
	top: 56px;
	left: 0px;
	width: 400px;
}
.name{
	position: absolute;
	font-size: 14px;
	text-align: center;
}
.width{
	left: 0px;
	top: 0px;
	width: 32px;
}
.height{
	left: 180px;
	top: 0px;
	width: 32px;
}
.left{
	left: 0px;
	top: 48px;
	width: 32px;
}
.top{
	left: 180px;
	top: 48px;
	width: 32px;
}
.border-radius{
	left: 0px;
	top: 96px;
	width: 32px;
}
.border{
	left: 180px;
	top: 96px;
	width: 32px;
}
.shadow{
	left: 0px;
	top: 144px;
	width: 32px;	
}
.z-index{
	left: 0px;
	top: 192px;
	width: 32px;
}
.opacity{
	left: 120px;
	top: 192px;
	width: 64px;
}
.background{
	left: 272px;
	top: 192px;
	width: 32px;
}
.rotate{
	left: 0px;
	top: 240px;
	width: 32px;
}
.origin{
	left: 120px;
	top: 240px;
	width: 64px;
}
.value{
	position: absolute;
	height: 32px;
	background: #333333;
	color: #FFFFFF;
	border: none;
	padding: 0px 0px 0px 10px;
	outline: none;
	font-size: 14px;
	box-sizing: border-box;
}
/* 浏览器默认content-box，改成border-box后将内边距等计算在长宽里面，从而可以照搬设计稿数值 */
.height-v, .width-v, .left-v, .top-v,.border-radius-v,.border-v{
	width: 124px;
	left: 36px;
}
.background-v{
	width: 34px;
	left: 36px;
	padding: 0;
}
.border-c{
	width: 20px;
	left: 140px;
	padding: 0;
}
.shadow-v{
	width: 304px;
	left: 36px;
}
.z-index-v{
	width: 64px;
	left: 36px;
}
.opacity-v{
	width: 64px;
	left: 68px;
}
.rotate-v{
	width: 64px;
	left: 36px;
}
.origin-v{
	width: 152px;
	left: 68px;
}

/* 动效 */
.anime-transition{
	position: absolute;
	top: 20px;
	left: 20px;
	font-size: 16px;
	line-height: 32px;
}
.transition{
	position: absolute;
	left: 20px;
	width: 340px;
}
.icon{
	width: 18px;
	height: 18px;
}
.icon1{
	position: absolute;
	left: 0px;
	top: 71px;
}
.icon2{
	position: absolute;
	left: 90px;
	top: 71px;
}
.icon3{
	position: absolute;
	left: 181px;
	top: 71px;
}
.value1{
	width: 56px;
	left: 22px;
	top: 64px;
}
.value2{
	width: 56px;
	left: 112px;
	top: 64px;
}
.value3{
	width: 140px;
	left: 203px;
	top: 64px;
	/* box-sizing: content-box; */
}

.anime-type{
	position: absolute;
	top: 114px;
	left: 20px;
	line-height: 32px;
	font-size: 16px;
	z-index: 99;
}
.anime-type::before{
	content: url();
	position: absolute;
	top: 32px;
	left: 0px;
	width: 342px;
	height: 1px;
	background-color: rgba(255,255,255,0.1);
	box-shadow: 0px 1px 3px rgba(255,255,255,0.1);
}
.anime-area{
	position: absolute;
	top: 146px;
	bottom: 20px;
	right: 4px;
	width: 356px;
	overflow-x: hidden;
	overflow-y: auto;
}
.anime-area::-webkit-scrollbar{
    /*滚动条整体样式*/
    width: 4px;
}
.anime-area::-webkit-scrollbar-thumb{
    /*滚动条-当前域示意条*/
    border-radius: 99px;
	background: #CCCCCC;
	/* box-shadow: inset 0 0 5px rgba(0, 122, 204); */
}
.anime-area::-webkit-scrollbar-track{
	/*滚动条-下层轨道*/
    border-radius: 99px;
	background: #777777;
}


.title-area{
	position: sticky;
	height: 48px;
}
.type{
	position: absolute;
	top: 8px;
	left: 00px;
	font-size: 14px;
	line-height: 32px;
}
.anime-property-area{
	position: sticky;
	left: 0px;
	height: 286px;/* 270+16 */
	width: 400px;
}


.pseudo-element{
	position: absolute;
	left: 20px;
	top: 440px;
	width: 340px;
}
#pseudo-property-area{
	position: absolute;
	top: 56px;
	left: 0px;
	width: 400px;
}
#pseudo-element-title{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 186px;
	font-size: 16px;
	font-weight: 600;
}





/* 画布 */
#canvas{
	position: absolute;
	left: 380px;
	right: 100px;
	top: 0px;
	bottom: 0px;
	z-index: -99;
	background: #FFFFFF;
}
#E1{
	position: absolute;
}
#E1:before{
	content: url();
	position: absolute;
	top: 0px;
	left: 0px;
}




/* 右侧 */
#right-part{
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100px;
	background-color: #555555;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
}
#btn-icon{
	position: absolute;
	top: 54px;
	right: 24px;
	height: 52px;
	width: 52px;
	background: url(../img/btn.png);
	transition: 0.1s;
}
#btn-icon:hover{
	background: url(../img/btnh.png);
}
#btn-name{
	position: absolute;
	top: 106px;
	font-size: 14px;
	width: 100px;
	text-align: center;
	user-select: none;
}
#help-place{
	position: absolute;
	right: 100px;
	top: 54px;
	height: 647px;
	width: 400px;
	background-color: #555555;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
	display: none;
}
#help{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	color: #EEEEEE;
	font-size: 14px;
	/* word-wrap: break-word;
	word-break: normal; */
	word-break: break-all;
	overflow: auto;
}
#help::-webkit-scrollbar{
    /*滚动条整体样式*/
    width: 6px;
}
#help::-webkit-scrollbar-thumb{
    /*滚动条-当前域示意条*/
    border-radius: 99px;
	background: #CCCCCC;
	/* box-shadow: inset 0 0 5px rgba(0, 122, 204); */
}
#help::-webkit-scrollbar-track{
	/*滚动条-下层轨道*/
    border-radius: 99px;
	background: #777777;
}
#btn0-icon{
	position: absolute;
	right: 24px;
	bottom: 302px;
	height: 52px;
	width: 52px;
	background: url(../img/btn0.png);
	transition: 0.1s;
}
#btn0-icon:hover{
	background: url(../img/btn0h.png);
}
#btn0-name{
	position: absolute;
	bottom: 270px;
	font-size: 14px;
	width: 100px;
	text-align: center;
	user-select: none;
}
#btn1-icon{
	position: absolute;
	right: 24px;
	bottom: 194px;
	height: 52px;
	width: 52px;
	background: url(../img/color.png);
	transition: 0.1s;
}
#btn1-icon:hover{
	background: url(../img/color2.png);
}
#btn1-name{
	position: absolute;
	bottom: 162px;
	font-size: 14px;
	width: 100px;
	text-align: center;
	user-select: none;
}
#color{
	position: absolute;
	right: 100px;
	bottom: 204px;
	height: 32px;
	width: 32px;
	padding: 0;
	border: none;
	outline: none;
	font-size: 14px;
	box-sizing: border-box;
	display: none;
}
#btn2-icon{
	position: absolute;
	right: 24px;
	bottom: 86px;
	height: 52px;
	width: 52px;
	background: url(../img/btn2.png);
	transition: 0.1s;
}
#btn2-icon:hover{
	background: url(../img/btn2h.png);
}
#btn2-name{
	position: absolute;
	bottom: 54px;
	font-size: 14px;
	width: 100px;
	text-align: center;
	user-select: none;
}
#codes-place{
	position: absolute;
	right: 100px;
	bottom: 86px;
	height: 647px;
	width: 400px;
	background-color: #555555;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.4);
	display: none;
}
#codes{
	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	color: #EEEEEE;
	font-size: 14px;
	/* word-wrap: break-word;
	word-break: normal; */
	word-break: break-all;
	overflow: auto;
}
#codes::-webkit-scrollbar{
    /*滚动条整体样式*/
    width: 6px;
}
#codes::-webkit-scrollbar-thumb{
    /*滚动条-当前域示意条*/
    border-radius: 99px;
	background: #CCCCCC;
	/* box-shadow: inset 0 0 5px rgba(0, 122, 204); */
}
#codes::-webkit-scrollbar-track{
	/*滚动条-下层轨道*/
    border-radius: 99px;
	background: #777777;
}